/* 
.TreesHistory {
    background-color:#282c34;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 30px 60px;
    box-shadow: 14px 13px 16px -10px #777777;
    transition: all 0.1s;
} */

.monthbutton:hover {
  transform: translateY(5px);
  box-shadow: none;
}
