.container {
    display: flex;
    margin: 40px;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: row; */
    /* gap: 10%; */
}

.itemBox {
    flex: 10%;
}

.treeContainer {
    flex: 60%;
    /* margin-right: ; */
}

.treeImg {
    width: 40%;
}

.buttonContainer {
    display: flex;
    align-items: baseline;
}

/* button {
    height: 10%;
    padding: 10px 40px;
    margin-right: 50px;
    font-size: 18px;
} */

.username {
    display: flex;
    align-items: center;
}